body {
    margin: 40px auto;
    max-width: 70em;
    line-height: 1.6;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: #181715;
    background-color: #eee8d5;
    padding: 0 10px
}

h1,h2,h3 {
    line-height: 1.2
}

code {
    color: #181715;
    font-family: 'Fira Mono', monospace;
    display: inline;
    padding: 0.5em 0em 0em 0em;
    background-color: #CDC9BC;
    box-decoration-break: clone;
}

code.money {
    color: #A62700
}

div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
