[Desktop Entry]
_Name=Balistica
_GenericName=External Balistics software
_X-GNOME-FullName=Balistica
_Comment=Compute basic external balistics functions
_Keywords=balistics
Exec=balistica
Terminal=false
Type=Application
Categories=GNOME;GTK;Balistics
StartupNotify=true
